<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"/>
<header th:replace="layout/layout :: header"/>

<body>
<div class="container pt-5">
    <div class="card bg-success text-white">
        <div class="card-header">
          <label th:text="${title}"/>
        </div>

        <div class="card-body">
            <form th:action="@{/formMassage}" th:object="${newMassage}"  method="post"  class="form-group">
                <div class="form-group row">
                    <input th:type="hidden" th:field="*{id}">

                    <label th:text="#{text.massage.name}"/>
                    <input th:type="text" class="form-control" th:field="*{name}" th:errorclass="alert-danger">
                    <small class="text-form text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                </div>

                <div class="form-group row">
                    <label th:text="#{text.massage.price}"/>
                    <input th:type="text" class="form-control" th:field="*{price}" th:errorclass="alert-danger">
                    <small class="text-form text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"/>
                </div>

                <input th:type="submit" th:value="#{text.massage.formMassage.created}" class="btn btn-secondary">
            </form>
        </div>

    </div>
</div>

<footer th:replace="layout/layout :: footer"/>

</body>
</html>