<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout/Layout :: head"/>
<body>
<!--HEADER-->
<header th:replace="layout/Layout :: header"/>

<!--CONTAINER-->
<div class="container py-5">
    <div class="card">
        <div class="card-header">
            <label th:text="${title}"/>
        </div>
        <div class="card-body">

            <div th:replace="layout/layout :: info"/>

            <table class="table table-hover sticky-top">
                <thead class="navbar-dark  bg-success">
                <tr>
                    <th>lp</th><th>ID</th><th>Name</th><th>Price</th><th>Edit</th><th>Details</th><th>Delete</th>
                </tr>
                </thead>
                <tbody th:each="listMassage,lp:${listMassage}">
                <tr>
                    <td th:text="${lp.count}">1</td>

                    <td th:text="${listMassage.id}"></td>
                    <td th:text="${listMassage.name}"></td>
                    <td th:text="${listMassage.price}"></td>
                    <td style="width:20px"><a th:href="@{/formMassage/} + ${listMassage.id}" class="btn btn-success">Edit</a></td>
                    <td style="width:20px"><a th:href="@{/massage/} + ${listMassage.id}" class="btn btn-info">Details</a> </td>
                    <td sec:authorize="hasAuthority('ADMIN')" style="width:20px"><a th:href="@{/massage/delete/} + ${listMassage.id}" onclick="return confirm('Are sure delete??')" class="btn btn-danger">Delete</a>    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--FOOTER-->
    <footer th:replace="layout/layout :: footer"/>
</body>
</html>