<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Layout :: head"/>
<body>
<!--HEADER-->
<header th:replace="layout/Layout :: header"/>

<!--CONTAINER-->

<div class="container pt-5">

    <div class="card bg-light">
        <div class="card-header">
            <label th:text="${title}"/>
        </div>
        <div class="card-body">
            <div th:replace="layout/Layout :: info"/>

            <table class="table sticky-top">
                <thead class="bg-success">
                <tr>
                    <th>ID</th><th>Name</th><th>Price</th>
                </tr>
                </thead>
                <tr>
                    <td th:text="${massage.id}"></td>
                    <td th:text="${massage.name}"></td>
                    <td th:text="${massage.price}"></td>
                </tr>
            </table>
    </div>
</div>
<br><br>
<footer th:replace="layout/Layout :: footer"/>

</body>
</html>