<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <title th:text="${title}"> </title>
</head>

<body>

<header th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark  bg-success">
    <a class="navbar-brand" href="/">ALOES - GABINET ODNOWY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <label th:text="#{text.navbar.client}"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" th:href="@{/clients}" th:text="#{text.navbar.AllClients}">All clients</a>
                    <a class="dropdown-item" th:href="@{/formClient}" th:text="#{text.navbar.newClient}">New client</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <label th:text="#{text.navbar.visit}"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" th:href="@{/visits}" th:text="#{text.navbar.AllVisit}">All visits</a>
                    <a class="dropdown-item" th:href="@{/visitsClose}" th:text="#{text.navbar.closeVisit}">Close visits</a>
                    <a class="dropdown-item" th:href="@{/visitsOpen}" th:text="#{text.navbar.openVisit}">Open visits</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <label th:text="#{text.navbar.massage}"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" th:href="@{/massages}" th:text="#{text.navbar.allMassages}">All massage</a>
                    <a class="dropdown-item" th:href="@{/formMassage}" th:text="#{text.navbar.newMassage}">New massage</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <label th:text="#{text.navbar.user}"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/users}" th:text="#{text.navbar.allUsers}">All users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" th:href="@{/formUser}" th:text="#{text.navbar.newUser}">New user</a>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/statistic}" th:text="#{text.navbar.statistic}">Statistic <span class="sr-only">(current)</span></a>
            </li>


        </ul>
        <ul class="navbar-nav navbar - right mx-4">
            <li class="nav-item mx-1"><a class="btn btn-outline-light" th:href="@{/local(lang=en_EN)}">EN</a>
            </li>
            <li class="nav-item mx-1"><a class="btn btn-outline-light"th:href="@{/local(lang=pl_PL)}">PL</a>
            </li>
        </ul>
        <div sec:authorize="isAuthenticated()">
        <form class="float-right" th:action="@{/logout}" method="post">
            <input th:type="submit" class="btn btn-secondary" onclick="return confirm('Are you sure logout??');" th:value="#{text.navbar.logout}"/>
        </form>
        </div>
    </div>
</nav>
<!--JUUMBOTRON-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ALOES GABINET ODNOWY</h1>
            <p class="lead">Your Body Shape Says About Your Health</p>
        </div>
    </div>
</header>

<!--INFO-->
<div th:fragment="info">
<div class="alert alert-success"  th:if="${success != null}" th:text="${success}"/>
<div class="alert alert-danger"  th:if="${danger != null}" th:text="${danger}"/>
<div class="alert alert-info"  th:if="${info != null}" th:text="${info}"/>
</div>
<!--FOOTER-->
<footer th:fragment="footer" class="container">
    <br><br>
    <div class="row">
        <div class="col-sm-8 bg-light">
            Marcel Dragon<br>
            Piekary Slaskie<br>
            ul.Gen.Jerzego Ziętka 6/2<br>
        </div>
        <div class="col-sm-4 bg-light">
        <img th:src="@{/image/logo.png}"   width="100" height="100"/>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>

</footer>
</body>
</html>