<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout/layout :: head"/>
<body>
<!--HEADER-->
<header th:replace="layout/layout :: header"/>

<!--CONTAINER-->
<div class="container py-5">
    <div class="card bg-light">
        <div class="card-header">
        <label th:text="${title}"/>
        </div>
        <div class="card-body">
            <ul class="list-group my-2">
                <li class="list-group-item">Logged user: <span sec:authentication="name"/></li>
                <li class="list-group-item"> Roles: <span sec:authentication="principal.authorities"/></li>
            </ul>
        </div>
    </div>

    <!--FOOTER-->
    <footer th:replace="layout/layout :: footer"/>

</body>
</html>