<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<!--HEADER-->
<header th:replace="layout/layout :: header"/>

<!--CONTAINER-->
<div class="container py-5">
    <div class="card bg-light">
        <div class="card-header">
            <label th:text="${title}"/>
        </div>
        <div class="card-body">

            <div th:replace="layout/layout :: info"/>

            <table class="table table-hover sticky-top">
                <thead class="bg-success">
                <tr>
                    <th>ID</th><th>Name<th>Role</th> <th>Delete</th>
                </tr>
                </thead>
                <tbody th:each="user:${users}">
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.role}"></td>
                    <td style="width:20px"><a th:href="@{/user/delete/} + ${user.id}" onclick="return confirm('are sure delete ??');" class="btn btn-danger">X</a> </td>
               </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>

    <!--FOOTER-->
    <footer th:replace="layout/layout :: footer"/>

</body>
</html>