<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Layout :: head"/>
<body>

<!--HEADER-->
<header th:replace="layout/Layout :: header"/>


<!--CONTAINER-->
<div class="container pt-5">
    <div class="card bg-success text-white">
     <label th:text="${title}"/>
     <div class="card-body">

    <form th:action="@{/form}" th:object="${ClientNew}"  method="post"  class="form-group">
        <input  type="hidden" th:field="*{id}">
        <div class="form-group row">
        <label>Name:</label>
        <input th:type="text" class="form-control" th:field="*{name}" th:errorclass="alert-danger">
            <small class="text-form text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>

        </div>
        <div class="form-group row">
            <label>Surname:</label>
            <label>
                <input th:type="text" class="form-control" th:field="*{surname}" th:errorclass="alert-danger" >
            </label>
            <small class="text-form text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"/>
        </div>

        <div class="form-group row">
        <label>Mail:</label>
        <input class="form-control" th:type="text" th:field="*{email}" th:errorclass="alert-danger">
        <small class="text-form text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
        </div>

        <div class="form-group row">
            <label>Number telephon:</label>
            <input th:type="text" class="form-control" th:field="*{number}" th:errorclass="alert-danger" >
            <small class="text-form text-danger" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"/>
        </div>

        <div class="form-group row">
            <label>Date:</label>
            <input class="form-control" th:type="text" th:field="*{createDate}" th:errorclass="alert-danger">
        </div>

        <input th:type="submit" th:value="Create" class="btn btn-secondary">

    </form>
</div>
    </div>
</div>

<!--FOOTER-->
<footer th:replace="layout/Layout :: footer"/>
</body>
</html>