<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"/>
<header th:replace="layout/layout :: header"/>

<body>
<div class="container pt-5">
    <div class="card bg-light">
        <div class="card-header">
           <label th:text="${title}"/>
        </div>
        <div class="card-body">
            <ul class="list-group my-2">
                <li class="list-group-item" th:text="#{text.statistic.openVisits}+ ${quantityVisitsOpen}"></li>
                <li class="list-group-item" th:text="#{text.statistic.closeVisits} +${ quantityVisitsClose}"></li>
                <li class="list-group-item" th:text="#{text.statistic.allVisits} + ${quantityVisits}"></li>
                <li class="list-group-item" th:text="#{text.statistic.allClients} + ${quantityClient}"></li>
                <li class="list-group-item" th:text="#{text.statistic.allUsers} + ${quantityUser}"></li>
                <li class="list-group-item" th:text="#{text.statistic.totalValue} +${ quantityTotalValue + ' zł'}"></li>
                <li class="list-group-item" th:text="#{text.statistic.totalCloseVisits} + ${quantityCloseValue + ' zł'}"></li>
            </ul>
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-header">
        </div>
        <div class="card-body">
    </div>
    </div>

        <footer th:replace="layout/layout :: footer"/>

    </div>
</body>
</html>