<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<!--HEADER-->
<header th:replace="layout/layout :: header"/>

<!--CONTAINER-->
<div class="container pt-5">

    <div class="card bg-light">
        <div class="card-header">
           <label th:text="${title}"/>
        </div>
        <div class="card-body">
            <ul class="list-group my-2">
                <li class="list-group-item" th:text="${'Open visits: ' + quantityVisitsOpen}"></li>
                <li class="list-group-item" th:text="${'Close visits: ' + quantityVisitsClose}"></li>
                <li class="list-group-item" th:text="${'All visits: ' + quantityVisits}"></li>
                <li class="list-group-item" th:text="${'All clients: ' + quantityClient}"></li>
                <li class="list-group-item" th:text="${'All users:' + quantityUser}"></li>
                <li class="list-group-item" th:text="${'Total value: ' + quantityTotalValue + ' zł'}"></li>
                <li class="list-group-item" th:text="${'Close visit value: ' + quantityCloseValue + ' zł'}"></li>
            </ul>
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-header">
        </div>
        <div class="card-body">

    </div>

</div>
    <!--FOOTER-->
    <footer th:replace="layout/layout :: footer"/>
</body>
</html>